<template>
    <div class="container apps">
        <h3 class="apps__header">Больше баллов и призов — в приложении!</h3>
        
        <a href="" class="apps__item apps__item_google"></a>
        <a href="" class="apps__item apps__item_apple"></a>
    </div>
</template>

<style lang="scss">
    @import '~/assets/styles/core.scss';
    
    .apps.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .apps {
        .apps__header {
            text-align: center;
            order: 0;
            margin-bottom: em(19);
        }

        .apps__item {
            display: block;
            width: em(120);
            height: em(33);
            background-size: em(120) em(33);
            background-position: center center;
            background-repeat: no-repeat;
            
            &.apps__item_google {
                background-image: url("~assets/img/googleplay.jpg"); 
            }  
            &.apps__item_apple {
                background-image: url("~assets/img/appstore.jpg");
            }   
        }
    }
</style>
