<template>
    <div class="container banner">
        <div class="banner__box">
            <h2 class="banner__header">Сходи на тренировку в корнер Adidas!</h2>
            <div class="banner__info banner__info_address">Мега Белая Дача</div>
            <div class="banner__info banner__info_date">18 марта, 18:00</div>
            <div class="banner__points">
                <Points :value="'+150'" />
            </div>
        </div>
    </div>
</template>

<script>
    import Points from "~/components/Points.vue";
    export default {
        components: {
            Points,
        }
    };
</script>

<style lang="scss">
@import '~/assets/styles/core.scss';

    .banner.container {
        padding-top: em(25);
    }
    .banner {
        .banner__box {
            height: em(118);
            padding: em(10) em(16);
            position: relative;
            background: url('~assets/img/girl.png') no-repeat right bottom;
            background-color: #f6e4e2;
            background-size: auto 97%;

            .banner__header {
                max-width: em(160);
                margin-bottom: em(10);
            }

            .banner__info {
                font-size: em(12);
                padding-left: em(24);
                text-align: left;
                margin-bottom: em(10);
                position: relative;

                &::before {
                    background-repeat: no-repeat;
                    background-size: em(20) em(20);
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-top: em(-10);
                    left: 0;
                    display: block;
                    width: em(20);
                    height: em(20);
                }
            }

            .banner__info_address::before {
                background-image: url('~assets/img/ic-location.svg');
            }
            .banner__info_date::before {
                background-image: url('~assets/img/ic-time.svg');
            }

            .banner__points {
                position: absolute;
                right: em(15);
                bottom: em(13);
            }
        }
    }
</style>
