<template>
    <div class="container container_big-padding icons-section">
        <a href="" class="icons-section__item icons-section__item_facebook"></a>
        <a href="" class="icons-section__item icons-section__item_vk"></a>
        <a href="" class="icons-section__item icons-section__item_instagram"></a>
        <a href="" class="icons-section__item icons-section__item_youtube"></a>
    </div>
</template>

<style lang="scss">
    @import '~/assets/styles/core.scss';
    
    .icons-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .icons-section__item {
            width: em(29);
            height: em(29);
            background-size: em(29) em(29);
            background-position: center center;
            background-repeat: no-repeat;
            
        }
        .icons-section__item_facebook {
            background-image: url("~assets/img/facebook.png"); 
        }  
        .icons-section__item_vk {
            background-image: url("~assets/img/vk.png");
        }   
        .icons-section__item_instagram {
            background-image: url("~assets/img/inst.png");
        }   
        .icons-section__item_youtube {
            background-image: url("~assets/img/youtube.png");
        }   
    }
</style>
