<template>
    <div class="container menu-section">
        <div class="colored-menu">
            <a class="colored-menu__item colored-menu__item_red" href="#">На стиле</a>
            <a class="colored-menu__item colored-menu__item_orange" href="#">Жить активнее</a>
            <a class="colored-menu__item colored-menu__item_green" href="#">Просто и красиво</a>
            <a class="colored-menu__item colored-menu__item_blue" href="#">Хюгге</a>
            <a class="colored-menu__item colored-menu__item_darkblue" href="#">Время — детям</a>
        </div>
    </div>
</template>

<style lang="scss">
    @import '~/assets/styles/core.scss';

    .colored-menu {
        .colored-menu__item {
            display: block;
            margin-bottom: em(2);
            padding: em(17) em(20);
            border-radius: em(200);
            text-decoration: none;
            text-transform: uppercase;
            position: relative;
            color: white;

            &:after {
                display: block;
                content: "";
                position: absolute;
                top: 50%;
                margin-top: em(-11);
                height: em(22);
                width: em(22);
                right: em(17);
                background: url('~assets/img/ic-arrow.svg') no-repeat center center;
                background-size: auto 100%;
            }
        }

        .colored-menu__item_red {
            background-image: linear-gradient(to left, #f6a997, #cb5433);
        }
        .colored-menu__item_orange {
            background-image: linear-gradient(to left, #f5d854, #e97800);
        }
        .colored-menu__item_green {
            background-image: linear-gradient(to right, #6ba860, #80c5a1);
        }
        .colored-menu__item_blue {
            background-image: linear-gradient(to right, #5698c4, #aad2bf);
        }
        .colored-menu__item_darkblue {
            background-image: linear-gradient(to right, #475c6e, #b6d1e8);
        }


    }
</style>
