<template>
    <div class="container container_gray promo">
        <div class="promo__box">
            <div class="promo__points"><Points :value="'+150'" /></div>
            <div class="promo__text">
                Расскажи о своем участии в проекте: получи +150 баллов и первое достижение!
            </div>
            <div class="promo__button">
                    <RoundButton :value="'Поделиться!'" :url="'#'" />
            </div>
        </div>
    </div>
</template>

<script>
    import Points from "~/components/Points.vue";
    import RoundButton from "~/components/RoundButton.vue";
    export default {
        components: {
            Points,
            RoundButton,
        }
    };
</script>

<style lang="scss">
@import '~/assets/styles/core.scss';

    .promo.container {
        padding-top: em(25);
        padding-bottom: em(46);
    }

    .promo {
        .promo__box {
            background: white;
            text-align: center;
            padding: em(15) em(15) em(33) em(15);
            border-radius: em(12);
            box-shadow: 0 em(11) em(14) 0 rgba(0, 0, 0, 0.07);
            position: relative;
            border: em(2) $color_blue solid;

            .promo__text {
                font-size: em(15);
                line-height: em(22, 15);
            }
        }

        .promo__points {
            position: absolute;
            top: em(-12.5);
            left: 50%;
            margin-left: em(-20);
        }

        .promo__button {
            left: 50%;
            top: 100%;
            font-size: em(16);
            margin-left: -25%;
            position: absolute;
            margin-top: em(-22);
        }
    }

</style>
