<template>
    <div class="container tabs">
        <div class="tabs-menu">
            <div class="tabs-menu__item tabs-menu__item_reserved">Зарезервировано</div>
            <div class="tabs-menu__item tabs-menu__item_gifts active">Доступные призы</div>
        </div>

        <div class="hr"></div>

        <div class="tabs-content">
            <div class="tabs-content__item">Empty</div>
            <div class="tabs-content__item gifts active">

                <div class="gifts__item gift">
                    <img src="~assets/img/gift1.png" alt="" class="gift__img" />
                    <div class="gift__name">Аксессуар</div>
                    <div class="gift__category">LADY COLLECTION</div>
                    <a href="#" class="gift__link link">Забрать в магазине</a>
                    <div class="gift__points">
                        <Points :value="100" />
                    </div>
                </div>
                <div class="hr"></div>

                <div class="gifts__item gift">
                    <img src="~assets/img/gift2.png" alt="" class="gift__img" />
                    <div class="gift__name">Кроссовки</div>
                    <div class="gift__category">STREET BEAT</div>
                    <a href="#" class="gift__link link">Забрать в магазине</a>
                    <div class="gift__points">
                        <Points :value="100" />
                    </div>
                </div>
                <div class="hr"></div>
                
            </div>
        </div>
    </div>
</template>

<script>
    import Points from "~/components/Points.vue";
        export default {
        components: {
            Points
        }
    };
</script>

<style lang="scss">
    @import '~/assets/styles/core.scss';


    .tabs.container {
        padding-bottom: 0;
    }
    .tabs {
        .tabs-menu {
            display: flex;
            justify-content: space-between;
            .tabs-menu__item {
                padding: em(16, 14) 0;
                font-size: em(14);
                font-weight: 500;

                &.active {
                    color: $color_blue;
                    border-bottom: em(2, 14) $color_blue solid;
                }
                &:hover {
                    cursor: pointer;
                    border-bottom: em(2, 14) $color_blue solid;
                }
            }
        }

        .tabs-content {
            .tabs-content__item {
                display: none;
                &.active {
                    display: block;
                }
            }
        }

        .gifts {
            .gifts__item {
                padding: em(20) 0;
            }
        }

        .gift {
            overflow: hidden;
            position: relative;
            .gift__img {
                float: left;
                display: block;
                height: em(70);
                margin-right: em(20);
            }
            .gift__name {
                font-size: em(14);
                // line-height: 1.5;
                margin-bottom: em(4, 14);
                margin-top: em(2, 14);
            }
            .gift__category {
                text-transform: uppercase;
                font-size: em(12);
                font-weight: 500;
            }
            .gift__link {
                font-size: em(12);
                font-weight: 500;
            }
            .gift__points {
                position: absolute;
                right: 0;
                top: em(20);
            }
        }
    }

</style>
