<template>
    <div class="container container_big-padding footer">
        <h4 class="h4">© 2010–2017 «ИКЕА Сентерс Рус Менеджмент»</h4>
    </div>
</template>

<style lang="scss">
    @import '~/assets/styles/core.scss';
</style>
