<template>
    <div class="container footer-menu">
        <a href="" class="footer-menu__item">Правила акции</a>
        <a href="" class="footer-menu__item">Юридическая информация</a>
    </div>
</template>

<style lang="scss">
    @import '~/assets/styles/core.scss';
    
    .footer-menu.conrainer {
        padding-top: em(11);
        padding-bottom: em(11);
    }

    .footer-menu {
        .footer-menu__item {
            display: block;
            width: 100%;
            font-size: em(14);
            color: black;
            font-weight: 500;
            padding: em(9);
        }
    }
</style>
