<template>
	<header class="header">
		<div class="header__menu-btn">
			<div class="menu-btn">
				<div class="menu-btn__rows">
					<div class="menu-btn__row"></div>
					<div class="menu-btn__row"></div>
					<div class="menu-btn__row"></div>
				</div>
			</div>
		</div>
		<div class="header__profile-rank profile-rank profile-rank_tests-lover">
			Любитель тестов
		</div>
		<div class="header__right-side">
			<div class="header__prifile-points"><Points :value="25" /></div>
			<img class="header__profile-img" src="~/assets/img/noavatar.svg" alt="Изображение профиля" />
		</div>
	</header>
</template>

<script>
  import Points from "~/components/Points.vue";
  export default {
    components: {
      Points
    }
  };
</script>


<style lang="scss">
	@import '~/assets/styles/core.scss';
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background: white;
		display: flex;
		height: em(60);
		justify-content: space-between;

		.header__menu-btn, .header__profile-rank, .header__right-side {
			flex: 1;
			display: flex;
		}

		.header__menu-btn {
			height: 100%;

			.menu-btn {
				display: flex;
				justify-content: left;
				align-items: center;
				padding-left: em(20);
				width: em(60);

				.menu-btn__rows {
					width: em(24);
					height: em(20);

					.menu-btn__row {
						height: em(2);
						background: black;
						&:nth-child(1) {
							width: 100%;
							margin-bottom: em(7);
						}
						&:nth-child(2) {
							width: em(14);
							margin-bottom: em(7);
						}
						&:nth-child(3) {
							width: em(19);
						}
					}
				}

				&:hover {
					cursor: pointer;
				}
			}
		}

		.header__profile-rank {
			font-size: em(12);
			color: $color_blue;
			font-weight: 700;
			justify-content: center;
			align-items: center;
			min-width: em(130, 12);
			&:before {
				display: flex;
				content: "";
				width: em(24, 12);
				height: em(24, 12);
				margin-right: em(6, 12);
				background: url("~assets/img/rank-icon1.png") no-repeat center center;
				background-size: em(24, 12) em(24, 12);
			}
		}

		.header__right-side {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-right: em(20);
		}

		.header__profile-img {
			border-radius: 100%;
			width: em(32);
			height: em(32);
			display: block;
			margin-left: em(10);
		}
	}
</style>
