<template>
    <div class="points">
        {{value}}
    </div>
</template>

<script>
    export default {
        props: {
            value: 0
        }
    };
</script>

<style lang="scss">
    @import '~/assets/styles/core.scss';

    .points {
        width: em(40, 12);
        height: em(25, 12);
        border-radius: em(25, 12);
        text-align: center;
        line-height: em(25, 12);
        font-size: em(12);
        font-weight: 700;
        background-image: linear-gradient(to right, #e59219, #f5d854);
    }
</style>
