<template>
    <a class="round-button" :href="url">
        {{value}}
    </a>
</template>

<script>
    export default {
        props: {
            value: "",
            url: "",
        }
    };
</script>

<style lang="scss">
@import '~/assets/styles/core.scss';

    .round-button {
        display: inline-block;
        font-weight: 500;
        text-align: center;
        line-height: em(16);
        color: $color_blue;
        padding: em(12) em(25);
        border-radius: em(25);
        border: em(2) $color_blue solid;
        background-color: #ffffff;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            background: $color_blue;
            color: white;
        }

        &:focus {
            outline: none;
        }
    }
</style>
