@import "~/assets/styles/font.scss";

/* Variables */

$font_size: 16;
$color_blue: #5698c4;


/* Functions */

@function em($pixels, $context: $font_size) {
  @return #{$pixels/$context}em;
}


/* Styles */

html {
  font-family: "DIN Pro";
  font-size: 5vw;
  base: 5vw;
  box-sizing: border-box;
  color: black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.hr {
	height: em(2);
	width: 100%;
	&:before {
		content: "";
		width: 100%;
		display: block;
		height: 100%;
		background: #e9e9e9;
	}
	&.hr_padding {
		padding: 0 em(20);
	}
}

h1, .h1 {
	font-size: em(24);
	font-weight: bold;
	line-height: 1.25;
}
h2, .h2 {
	font-size: em(16);
	font-weight: 600;
	line-height: 1.5;
}
h3, .h3 {
	font-size: em(14);
	font-weight: 500;
	line-height: 1.5;
}
h4, .h4 {
	font-size: em(12);
	font-weight: 500;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

.container {
	position: relative;
	padding: em(10) em(20);

	&.container_gray {
	  background: #eaeef1;
	}
	&.container_big-padding {
		padding: em(20) em(20);
	}
}

.link {
	// text-decoration: underline;
	color: $color_blue;
	border-bottom: em(1) $color_blue solid;
}
