@font-face {
	font-family: 'DIN Pro';
	src: url('~assets/fonts/DINPro-Medium.eot');
	src: local('DIN Pro Medium'), local('DINPro-Medium'),
		url('~assets/fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-Medium.woff') format('woff'),
		url('~assets/fonts/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('~assets/fonts/DINPro-BlackItalic.eot');
	src: local('DIN Pro Black Italic'), local('DINPro-BlackItalic'),
		url('~assets/fonts/DINPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-BlackItalic.woff') format('woff'),
		url('~assets/fonts/DINPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('~assets/fonts/DINPro-CondensedBlackItalic.eot');
	src: local('DIN Pro Condensed Black Italic'), local('DINPro-CondensedBlackItalic'),
		url('~assets/fonts/DINPro-CondensedBlackItalic.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-CondensedBlackItalic.woff') format('woff'),
		url('~assets/fonts/DINPro-CondensedBlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('~assets/fonts/DINPro-CondensedMedium.eot');
	src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
		url('~assets/fonts/DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-CondensedMedium.woff') format('woff'),
		url('~assets/fonts/DINPro-CondensedMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('~assets/fonts/DINPro-MediumItalic.eot');
	src: local('DIN Pro Medium Italic'), local('DINPro-MediumItalic'),
		url('~assets/fonts/DINPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-MediumItalic.woff') format('woff'),
		url('~assets/fonts/DINPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('~assets/fonts/DINPro-Bold.eot');
	src: local('DIN Pro Bold'), local('DINPro-Bold'),
		url('~assets/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-Bold.woff') format('woff'),
		url('~assets/fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('~assets/fonts/DINPro-Light.eot');
	src: local('DIN Pro Light'), local('DINPro-Light'),
		url('~assets/fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-Light.woff') format('woff'),
		url('~assets/fonts/DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('~assets/fonts/DINPro-CondensedMediumItalic.eot');
	src: local('DIN Pro Condensed Medium Italic'), local('DINPro-CondensedMediumItalic'),
		url('~assets/fonts/DINPro-CondensedMediumItalic.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-CondensedMediumItalic.woff') format('woff'),
		url('~assets/fonts/DINPro-CondensedMediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('~assets/fonts/DINPro-Italic.eot');
	src: local('DIN Pro Italic'), local('DINPro-Italic'),
		url('~assets/fonts/DINPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-Italic.woff') format('woff'),
		url('~assets/fonts/DINPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('~assets/fonts/DINPro.eot');
	src: local('DIN Pro'), local('DINPro'),
		url('~assets/fonts/DINPro.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro.woff') format('woff'),
		url('~assets/fonts/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('~assets/fonts/DINPro-CondensedBlack.eot');
	src: local('DIN Pro Condensed Black'), local('DINPro-CondensedBlack'),
		url('~assets/fonts/DINPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-CondensedBlack.woff') format('woff'),
		url('~assets/fonts/DINPro-CondensedBlack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('~assets/fonts/DINPro-CondensedBold.eot');
	src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
		url('~assets/fonts/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-CondensedBold.woff') format('woff'),
		url('~assets/fonts/DINPro-CondensedBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('~assets/fonts/DINPro-Black.eot');
	src: local('DIN Pro Black'), local('DINPro-Black'),
		url('~assets/fonts/DINPro-Black.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-Black.woff') format('woff'),
		url('~assets/fonts/DINPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('~assets/fonts/DINPro-LightItalic.eot');
	src: local('DIN Pro Light Italic'), local('DINPro-LightItalic'),
		url('~assets/fonts/DINPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-LightItalic.woff') format('woff'),
		url('~assets/fonts/DINPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('~assets/fonts/DINPro-CondensedBoldItalic.eot');
	src: local('DIN Pro Condensed Bold Italic'), local('DINPro-CondensedBoldItalic'),
		url('~assets/fonts/DINPro-CondensedBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-CondensedBoldItalic.woff') format('woff'),
		url('~assets/fonts/DINPro-CondensedBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('~assets/fonts/DINPro-CondensedRegular.eot');
	src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
		url('~assets/fonts/DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-CondensedRegular.woff') format('woff'),
		url('~assets/fonts/DINPro-CondensedRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('~assets/fonts/DINPro-CondensedItalic.eot');
	src: local('DIN Pro Condensed Italic'), local('DINPro-CondensedItalic'),
		url('~assets/fonts/DINPro-CondensedItalic.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-CondensedItalic.woff') format('woff'),
		url('~assets/fonts/DINPro-CondensedItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('~assets/fonts/DINPro-CondensedLightItalic.eot');
	src: local('DIN Pro Condensed Light Italic'), local('DINPro-CondensedLightItalic'),
		url('~assets/fonts/DINPro-CondensedLightItalic.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-CondensedLightItalic.woff') format('woff'),
		url('~assets/fonts/DINPro-CondensedLightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Cond';
	src: url('~assets/fonts/DINPro-CondensedLight.eot');
	src: local('DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
		url('~assets/fonts/DINPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-CondensedLight.woff') format('woff'),
		url('~assets/fonts/DINPro-CondensedLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('~assets/fonts/DINPro-BoldItalic.eot');
	src: local('DIN Pro Bold Italic'), local('DINPro-BoldItalic'),
		url('~assets/fonts/DINPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('~assets/fonts/DINPro-BoldItalic.woff') format('woff'),
		url('~assets/fonts/DINPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
