<template>
    <div class="sections">
        <Promo />
        <Banner />
        <Title />
        <ColoredMenu />
        <BigTitle />
        <Tabs />
        <Apps />
        <div class="hr hr_padding"></div>
        <Icons />
        <div class="hr hr_padding"></div>
        <FooterMenu />
        <div class="hr hr_padding"></div>
    </div>
</template>

<script>
import Promo from '~/components/sections/Promo.vue'
import Banner from '~/components/sections/Banner.vue'
import Title from '~/components/sections/Title.vue'
import ColoredMenu from '~/components/sections/Menu.vue'
import BigTitle from '~/components/sections/BigTitle.vue'
import Tabs from '~/components/sections/Tabs.vue'
import Apps from '~/components/sections/Apps.vue'
import Icons from '~/components/sections/Icons.vue'
import FooterMenu from '~/components/FooterMenu.vue'


export default {
    components: {
        Promo,
        Banner,
        Title,
        ColoredMenu,
        BigTitle,
        Tabs,
        Apps,
        Icons,
        FooterMenu,
    }
}
</script>

<style lang="scss">
@import '~/assets/styles/core.scss';

.sections {
    margin-top: em(60);
}
</style>
